/*
Ryzen Theme for Obsidian by RyzenFromFire

Adapted from the gruvbox and Atom themes.
*/


:root
{
    /* Gruvbox Colors */
    --dark0-hard:     #1d2021;
    --dark0:          #282828;
    --dark0-soft:     #32302f;
    --dark1:          #3c3836;
    --dark2:          #504945;
    --dark3:          #665c54;
    --dark4:          #7c6f64;

    --bright-red:     #fb4934;
    --bright-orange-v:  #fe8019;
    --bright-yellow:  #fabd2f;

    --neutral-red:    #cc241d;
    --neutral-orange: #d65d0e;
    --neutral-yellow: #d79921;

    --faded-red:      #9d0006;
    --faded-orange:   #af3a03;
    --faded-yellow:   #b57614;

    /* My Custom Colors */

    /* Background Colors */
    --r-dark0: #212121;
    --r-dark1: #191717;
    --r-dark2: #161414;

    --standard-text: #eadad9;
    --dark-red: #bc0104;
    --red-orange: #cd2b11;
    --deep-orange: #ed5b0f;
    --bright-orange: #fe750e;
    --yellow-orange: #fe9109;
    --dark-orange: #d5520e;
    --meteor: #72504b;
    --gunmetal: #534f4e;
    --scorpion: #625e5e; /* "scorpion" grey according to some color picker site */
    --default-codeblock: #1a1a1a; /* Obsidian default codeblock color */
    --code-orange: #b46629; /* this is the same color IntelliJ uses to color keywords in Java */
    --test-green: #00ff00; /* for testing purposes */
}

.theme-dark
{
    --background-primary:         var(--r-dark0);
    --background-primary-alt:     var(--dark0);
    --background-secondary:       var(--r-dark1);
    --background-secondary-alt:   var(--r-dark2);
    --text-normal:                var(--standard-text);
    --text-faint:                 var(--scorpion);
    --text-title-h1:              var(--dark-red);
    --text-title-h2:              var(--red-orange);
    --text-title-h3:              var(--deep-orange);
    --text-title-h4:              var(--bright-orange);
    --text-title-h5:              var(--yellow-orange);
    --text-title-h6:              var(--meteor);
    --text-link:                  var(--dark-orange);
    --text-link-hover:            var(--deep-orange);
    --text-a:                     var(--bright-orange); /* also controls color of sidebar icons when hovered */
    --text-a-hover:               var(--yellow-orange);
    --text-mark:                  rgba(215, 153, 33, 0.4); /* neutral-yellow */
    --pre-code:                   var(--default-codeblock);
    --text-highlight-bg:          rgba(254, 145, 9, 0.5); /* yellow-orange */
    --interactive-accent:         var(--deep-orange);
    --interactive-before:         var(--dark4);
    --background-modifier-border: var(--gunmetal); /* very thin border around edge, and also file structure hierarchy */
    --text-accent:                var(--bright-orange);
    --text-accent-hover:          var(--yellow-orange);
    --interactive-accent-rgb:     var(--bright-orange);
    --inline-code:                var(--code-orange); /* text in inline code, edit and preview */
    --code-block:                 var(--code-orange); /* text in preview mode from codeblock */
    --vim-cursor:                 var(--bright-orange);
    --text-selection:             rgba(213, 82, 14, 0.25);
    --text-tag:                   var(--faded-orange);
}

/* light theme is bad and not supported */

:root {
  --default-font: -apple-system, BlinkMacSystemFont, Monospace, Segoe UI;
  --editor-font: -apple-system, BlinkMacSystemFont, Monospace, Segoe UI;
}

.markdown-source-view {
  font-family: var(--editor-font);
}

.markdown-preview-view {
  font-family: var(--default-font);
}

.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
    text-shadow: none !important;
    background-color: var(--pre-code) !important;
}

.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: var(--interactive-accent-rgb) !important;
}
.graph-view.color-text
{
    color: var(--text-a-hover) !important;
}
/*
.graph-view.color-fill
{
    color: var(--background-secondary);
}
.graph-view.color-line
{
  color: var(--background-modifier-border);
}
*/

html,
body
{
    /* font-size: 16px !important; */
}

strong
{
    font-weight: 600 !important;
}

a,
.cm-hmd-internal-link
{
    color: var(--text-a) !important;
    text-decoration: none !important;
}

a:hover,
.cm-hmd-internal-link:hover
{
    color: var(--text-a-hover) !important;
    text-decoration: none !important;
}

/* url/external link */
a,
.cm-url {
  color: var(--text-link) !important;
}

/* url/external link hover */
a:hover,
.cm-url:hover {
  color: var(--text-link-hover) !important;
}*/

a.tag, a.tag:hover {
  color: var(--text-tag) !important;
  background-color: var(--background-secondary-alt);
  padding: 2px 4px;
  border-radius: 4px;
}

mark
{
    background-color: var(--text-mark) !important;
}


.titlebar {
  background-color: var(--background-secondary-alt);
}

.titlebar-inner {
  color: var(--text-normal);
}

.view-actions a
{
    color: var(--text-normal) !important;
}

.view-actions a:hover
{
    color: var(--text-a) !important;
}

/* codeblock background */
.HyperMD-codeblock-bg
{
    background-color: var(--default-codeblock) !important;
}

.HyperMD-codeblock
{
    line-height: 1.4em !important;
}

.HyperMD-codeblock-begin
{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.HyperMD-codeblock-end
{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* fix the background issue */
.cm-s-obsidian div.HyperMD-codeblock-bg {
    border: 0;
}

/* fix the codeblock padding preview issue */
.markdown-preview-view pre {
    padding: 0px 0px; !important
}

blockquote {
  margin: 10px 0;
  border-radius: 4px !important;
}

/* changes dropdown color, somewhere in that url: color: deep-orange/h3/ed5b0f */
.dropdown {
  cursor: pointer;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ed5b0f%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
}

th
{
    font-weight: 600 !important;
}

thead
{
    border-bottom: 2px solid var(--background-modifier-border) !important;
}

.HyperMD-table-row
{
    line-height: normal !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    /* background-color: var(--pre-code) !important; */
}

.HyperMD-table-row-0
{
    /* padding-top: 4px !important; */
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator
{
    color: var(--text-a) !important;
}

.nav-file-tag
{
    color: var(--text-a) !important;
}

.is-active .nav-file-title
{
    color: var(--text-a) !important;
    background-color: var(--background-primary-alt) !important;
}

.nav-file-title
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.HyperMD-list-line
{
    padding-top: 0 !important;
}

.cm-hashtag
{
    color: var(--text-tag) !important;
}

.markdown-preview-section pre code,
.markdown-preview-section code
{
    font-size: 0.9em !important;
    background-color: var(--pre-code) !important;
}

.markdown-preview-section pre code
{
    padding: 4px !important;
    line-height: 1.4em !important;
    display: block !important;
    color: var(--code-block) !important;
}

.markdown-preview-section code
{
    color: var(--inline-code) !important;
}

.cm-s-obsidian,
.cm-inline-code
{
    -webkit-font-smoothing: auto !important;
}

.cm-inline-code
{
    color: var(--inline-code) !important;
    background-color: var(--pre-code) !important;
    padding: 1px !important;
}

.workspace-leaf-header-title
{
    font-weight: 600 !important;
}

.side-dock-title
{
    padding-top: 15px !important;
    font-size: 20px !important;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover
{
    color: var(--text-a);
}

.side-dock
{
    border-right: 0 !important;
}

.cm-s-obsidian,
.markdown-preview-view
{
    /* padding-left: 10px !important; */
    padding-right: 10px !important;
}

/* vertical resize-handle */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle
{
    width: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* horizontal resize-handle */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle
{
    height: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* Remove vertical split padding */
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs
{
    padding-right: 0px;
}

.markdown-embed-title
{
    font-weight: 600 !important;
}

.markdown-embed
{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.cm-header-1,
.markdown-preview-section h1
{
    font-weight: 500 !important;
    font-size: 2.2em !important;
    color: var(--text-title-h1) !important;
}

.cm-header-2,
.markdown-preview-section h2
{
    font-weight: 500 !important;
    font-size: 2.0em !important;
    color: var(--text-title-h2) !important;
}

.cm-header-3,
.markdown-preview-section h3
{
    font-weight: 500 !important;
    font-size: 1.8em !important;
    color: var(--text-title-h3) !important;
}

.cm-header-4,
.markdown-preview-section h4
{
    font-weight: 500 !important;
    font-size: 1.6em !important;
    color: var(--text-title-h4) !important;
}

.cm-header-5,
.markdown-preview-section h5
{
    font-weight: 500 !important;
    font-size: 1.4em !important;
    color: var(--text-title-h5) !important;
}

.cm-header-6,
.markdown-preview-section h6
{
    font-weight: 500 !important;
    font-size: 1.2em !important;
    color: var(--text-title-h6) !important;
}

.suggestion-item.is-selected
{
    background-color: var(--background-secondary);
}

.empty-state-action:hover
{
    color: var(--interactive-accent);
}

.empty-state-action:hover
{
    color: var(--interactive-accent);
}

.mod-cta
{
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

.mod-cta a
{
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

.mod-cta:hover
{
    background-color: var(--interactive-before) !important;
    font-weight: 600 !important;
}

.CodeMirror-cursor
{
    background-color: var(--vim-cursor) !important;
    opacity: 60% !important;
}

::selection
{
    background-color: var(--text-selection) !important;
}

.mermaid .note
{
    fill: var(--dark3) !important;
}
