/*
Phoenix Theme for Obsidian by RyzenFromFire
Adapted from the gruvbox and Atom themes.
*/


:root
{
    /* Custom Config */

    /* Maximum Height (px) for note embeds (probably applies to other embeds too) */
    --max-embed-height: 1000px; /* Obsidian Default is 600px */

    /* Gruvbox Colors */
    --dark0-hard:     #1d2021;
    --dark0:          #282828;
    --dark0-soft:     #32302f;
    --dark1:          #3c3836;
    --dark2:          #504945;
    --dark3:          #665c54;
    --dark4:          #7c6f64;

    --gray:           #928374;

    --light0-hard:    #f9f5d7;
    --light0:         #fbf1c7;
    --light0-soft:    #f2e5bc;
    --light1:         #ebdbb2;
    --light2:         #d5c4a1;
    --light3:         #bdae93;
    --light4:         #a89984;

    --bright-red:     #fb4934;
    --bright-orange-v:#fe8019;
    --bright-yellow:  #fabd2f;

    --neutral-red:    #cc241d;
    --neutral-orange: #d65d0e;
    --neutral-yellow: #d79921;

    --faded-red:      #9d0006;
    --faded-orange:   #af3a03;
    --faded-yellow:   #b57614;

    /* My Custom Colors */
    --platinum:       #cccccc;
    --r-dark0-accent: #1e1e1e;
    --r-gray:         #9d8f82;
    --r-gray2:        #a89c90;
    --r-gray3:        #b3ab9e;
    --r-light0:       #e7cfb8;
    --r-light2:       #d0baa6;
    --r-light2-soft:  #c4b09c;
    --r-light3:       #b9a693;

    /* Background Colors */
    --r-dark0:        #212121;
    --r-dark1:        #191717;
    --r-dark2:        #161414;

    --standard-text:  #eadad9;
    --dark-red:       #bc0104;
    --red-orange:     #c52d0a;
    --red-orange2:    #cd2b11;
    --deep-orange:    #ed5b0f;
    --bright-orange:  #fe750e;
    --yellow-orange:  #fe9109;
    --dark-orange:    #d5520e;
    --meteor:         #72504b;
    --gunmetal:       #534f4e;
    --scorpion:       #625e5e; /* "scorpion" grey according to some color picker site */
    --code-orange:    #b46629; /* this is the same color IntelliJ uses to color keywords in Java */
    --test-green:     #00ff00; /* for testing purposes */
}

/*
______  ___  ______ _   __
|  _  \/ _ \ | ___ \ | / /
| | | / /_\ \| |_/ / |/ / 
| | | |  _  ||    /|    \ 
| |/ /| | | || |\ \| |\  \
|___/ \_| |_/\_| \_\_| \_/                 

*/
.theme-dark
{
    --background-primary:         var(--r-dark0);
    --background-primary-alt:     var(--dark0);
    --background-secondary:       var(--r-dark1);
    --background-secondary-alt:   var(--r-dark2);
    --text-normal:                var(--standard-text);
    --text-faint:                 var(--scorpion);
    --text-platinum:              var(--platinum);
    --text-title-h1:              var(--dark-red);
    --text-title-h2:              var(--red-orange);
    --text-title-h3:              var(--deep-orange);
    --text-title-h4:              var(--bright-orange);
    --text-title-h5:              var(--yellow-orange);
    --text-title-h6:              var(--meteor);
    --text-link:                  var(--dark-orange);
    --text-link-hover:            var(--deep-orange);
    --text-a:                     var(--bright-orange); /* also controls color of sidebar icons when hovered */
    --text-a-hover:               var(--yellow-orange);
    --text-mark:                  rgba(215, 153, 33, 0.4); /* neutral-yellow */
    --pre-code:                   var(--default-codeblock);
    --text-highlight-bg:          rgba(254, 145, 9, 0.5); /* yellow-orange */
    --interactive-accent:         var(--deep-orange);
    --interactive-before:         var(--dark4);
    --background-modifier-border: var(--gunmetal); /* very thin border around edge, and also file structure hierarchy */
    --text-accent:                var(--bright-orange);
    --text-accent-hover:          var(--yellow-orange);
    --interactive-accent-rgb:     var(--bright-orange);
    --inline-code:                var(--code-orange); /* text in inline code, edit and preview */
    --code-block:                 var(--code-orange); /* text in preview mode from codeblock */
    --vim-cursor:                 var(--bright-orange);
    --text-selection:             rgba(213, 82, 14, 0.25);
    --text-tag:                   var(--faded-orange);
    --text-card:                  var(--r-light2-soft);
    --default-codeblock: #1a1a1a; /* Obsidian default codeblock color */
}

/*
 _     _____ _____  _   _ _____ 
| |   |_   _|  __ \| | | |_   _|
| |     | | | |  \/| |_| | | |  
| |     | | | | __ |  _  | | |  
| |_____| |_| |_\ \| | | | | |  
\_____/\___/ \____/\_| |_/ \_/  
                               
*/
.theme-light {
  --background-primary:         var(--r-light0);
  --background-primary-alt:     var(--light0);
  --background-secondary:       var(--r-light1);
  --background-secondary-alt:   var(--r-light2);
  --text-normal:                var(--r-dark0);
  --text-faint:                 var(--scorpion);
  --text-platinum:              var(--platinum);
  --text-title-h1:              var(--dark-red);
  --text-title-h2:              var(--red-orange);
  --text-title-h3:              var(--deep-orange);
  --text-title-h4:              var(--bright-orange);
  --text-title-h5:              var(--yellow-orange);
  --text-title-h6:              var(--meteor);
  --text-link:                  var(--dark-orange);
  --text-link-hover:            var(--deep-orange);
  --text-a:                     var(--bright-orange); /* also controls color of sidebar icons when hovered */
  --text-a-hover:               var(--yellow-orange);
  --text-mark:                  rgba(215, 153, 33, 0.4); /* neutral-yellow */
  --pre-code:                   var(--r-light2-soft);
  --text-highlight-bg:          rgba(254, 145, 9, 0.5); /* yellow-orange */
  --interactive-accent:         var(--deep-orange);
  --interactive-before:         var(--light4);
  --background-modifier-border: var(--gunmetal); /* very thin border around edge, and also file structure hierarchy */
  --text-accent:                var(--bright-orange);
  --text-accent-hover:          var(--yellow-orange);
  --interactive-accent-rgb:     var(--bright-orange);
  --inline-code:                var(--red-orange); /* text in inline code, edit and preview */
  --code-block:                 var(--code-orange); /* text in preview mode from codeblock */
  --vim-cursor:                 var(--bright-orange);
  --text-selection:             rgba(213, 82, 14, 0.25);
  --text-tag:                   var(--faded-orange);
  --text-card:                  var(--r-dark2);
  --default-codeblock:          var(--r-light3);
  --status-bar-background:      var(--r-light2-soft)
}

/* 
 _____ ________  ______  ________ _   _ 
/  __ \  _  |  \/  ||  \/  |  _  | \ | |
| /  \/ | | | .  . || .  . | | | |  \| |
| |   | | | | |\/| || |\/| | | | | . ` |
| \__/\ \_/ / |  | || |  | \ \_/ / |\  |
 \____/\___/\_|  |_/\_|  |_/\___/\_| \_/

 */
.theme-dark, .theme-light {
  /* font size variables */
  --h1-size: 2.2em;
  --h2-size: 2.0em;
  --h3-size: 1.8em;
  --h4-size: 1.6em;
  --h5-size: 1.4em;
  --h6-size: 1.2em;

  --list-indent: 1em;

  /* Fix issues with hovering generating underlines */
  --link-decoration: none;
  --link-decoration-hover: none;
  --link-external-decoration: none;
  --link-external-decoration-hover: none;
  --link-unresolved-decoration: none;
  --link-unresolved-decoration-hover: none;
} 



:root {
  --default-font: -apple-system, BlinkMacSystemFont, SF Pro Text, SF Mono, Monospace, Segoe UI;
  --editor-font: -apple-system, BlinkMacSystemFont, SF Pro Text, SF Mono, Monospace, Segoe UI;
  --font-monospace: JetBrains Mono, Monospace, Segoe UI;
  --size-normal: 16px;
  --size-code: 14.4px;
}

.markdown-source-view {
  font-family: var(--editor-font);
}

.markdown-preview-view {
  font-family: var(--default-font);
}

.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
    text-shadow: none !important;
    background-color: var(--pre-code) !important;
}

.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: var(--interactive-accent-rgb) !important;
}
.graph-view.color-text
{
    color: var(--text-a-hover) !important;
}

html,
body
{
    /* font-size: 16px !important; */
}

strong, .cm-strong
{
    font-weight: 700 !important;
}

/* List Indentations */
ul {
  padding-left:15px;
}

ol {
  padding-left:15px;
}

.markdown-preview-view a.internal-link,
.markdown-preview-view a.external-link,
.cm-s-obsidian span.cm-hmd-internal-link
{
  text-decoration: none;
}

/* Fix for internal link appearing with underline in edit mode, hopefully doesn't break anything else */
.markdown-source-view.mod-cm6 .cm-underline {
  text-decoration: none;
}

.markdown-source-view.mod-cm6 span.cm-url {
  text-decoration: none;
}

.markdown-preview-view a.internal-link,
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-source-view.mod-cm6 .is-unresolved .cm-underline {
  color: var(--text-a);
  text-decoration: none;
}

.markdown-rendered mark .internal-link {
  color: var(--text-a);
}

/* Fix issues with hovering generating underlines */
a.internal-link:hover,
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.markdown-rendered .internal-link:hover,
.markdown-source-view.mod-cm6 .cm-hmd-internal-link .cm-underline:hover,
.markdown-source-view.mod-cm6 .cm-link .cm-underline:hover,
.markdown-source-view.mod-cm6 .cm-url .cm-underline:hover {
    color: var(--text-a-hover);
    text-decoration: none;
}

.cm-s-obsidian span.cm-url {
  color: var(--text-link);
}

.markdown-preview-view a.external-link {
  color: var(--text-link);
  text-decoration: none;
}

.markdown-preview-view a.external-link:hover,
.cm-s-obsidian span.cm-url:hover {
  color: var(--text-link-hover);
}

a.tag, a.tag:hover {
  color: var(--text-tag) !important;
  background-color: var(--background-secondary-alt);
  padding: 2px 4px;
  border-radius: 4px;
}

mark
{
    background-color: var(--text-mark) !important;
}


.titlebar {
  background-color: var(--background-secondary-alt);
}

.titlebar-inner {
  color: var(--text-normal);
}

.view-actions a
{
    color: var(--text-normal) !important;
}

.view-actions a:hover
{
    color: var(--text-a) !important;
}

/* codeblock background */
.HyperMD-codeblock-bg
{
    background-color: var(--default-codeblock) !important;
}

.HyperMD-codeblock
{
    line-height: 1.4em !important;
}

.HyperMD-codeblock-begin
{
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.HyperMD-codeblock-end
{
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* fix the background issue */
.cm-s-obsidian div.HyperMD-codeblock-bg {
    border: 0;
}

/* fix the codeblock padding preview issue */
.markdown-preview-view pre {
    padding: 0px 0px;
}

blockquote {
  margin: 10px 0;
  border-radius: 4px !important;
}

/* changes dropdown color, somewhere in that url: color: deep-orange/h3/ed5b0f */
.dropdown {
  cursor: pointer;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ed5b0f%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
}

th
{
    font-weight: 600 !important;
}

thead
{
    border-bottom: 2px solid var(--background-modifier-border) !important;
}

.HyperMD-table-row
{
    line-height: normal !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    /* background-color: var(--pre-code) !important; */
}

.HyperMD-table-row-0
{
    /* padding-top: 4px !important; */
}

.CodeMirror-foldgutter-folded,
.is-collapsed .nav-folder-collapse-indicator
{
    color: var(--text-a) !important;
}

.nav-file-tag
{
    color: var(--text-a) !important;
}

.is-active .nav-file-title
{
    color: var(--text-a) !important;
    background-color: var(--background-primary-alt) !important;
}

.nav-file-title
{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.HyperMD-list-line
{
    padding-top: 0 !important;
}

.cm-hashtag
{
    color: var(--text-tag) !important;
}

.markdown-preview-section pre code,
.markdown-preview-section code
{
    font-size: 0.9em !important;
    background-color: var(--pre-code) !important;
}

.markdown-preview-section pre code
{
    padding: 4px !important;
    line-height: 1.4em !important;
    display: block !important;
    /*color: var(--code-block) !important;*/
}

/*
.markdown-preview-section code
{
    color: var(--inline-code) !important;
}*/

.cm-s-obsidian,
.cm-inline-code
{
    -webkit-font-smoothing: auto !important;
}

.cm-inline-code
{
    color: var(--inline-code) !important;
    background-color: var(--pre-code) !important;
    padding: 1px !important;
    border-radius: 3px;
}

.admonition code,
div.admonition-content-holder code {
    /* removed 2023-01-25, to better match overall with admonition colors */
    /* color: var(--inline-code) !important; */
    background-color: var(--pre-code) !important;
    border-radius: 2px;
    font-family: var(--font-monospace);
    font-size: var(--size-code);
}

/* fixes normal text in previewed formatted codeblocks from getting set to intellij orange color */
/* div.admonition-content-holder code.is-loaded,
div.admonition-content-holder pre code.is-loaded,
.admonition pre code {
    color: var(--code-normal) !important;
} */

div.admonition-title-markdown code {
    font-family: var(--font-monospace);
    border-radius: 4px;
}

code {
  padding: 1px !important;
  border-radius: 3px;
}

/* fix numbers being cut off in lists in callouts */
.callout-content {
  padding-left: 5px !important;
}

/* .markdown-preview-view.is-readable-line-width .markdown-preview-sizer ul,
.markdown-rendered ul, .markdown-rendered ol {
    padding-inline-start: 1.7em;
} */

.workspace-leaf-header-title
{
    font-weight: 600 !important;
}

.side-dock-title
{
    padding-top: 15px !important;
    font-size: 20px !important;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover
{
    color: var(--text-a);
}

.side-dock
{
    border-right: 0 !important;
}

.cm-s-obsidian,
.markdown-preview-view
{
    /* padding-left: 10px !important; */
    padding-right: 10px !important;
}

/* vertical resize-handle */
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle
{
    width: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* horizontal resize-handle */
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle
{
    height: 1px !important;
    background-color: var(--background-secondary-alt);
}

/* Remove vertical split padding */
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf,
.workspace-tabs
{
    padding-right: 0px;
}

.markdown-embed-title
{
    font-weight: 600 !important;
}

.markdown-embed
{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

/* Header Settings */
.cm-header-1,
.markdown-preview-section h1
{
    font-weight: 500 !important;
    /*font-size: 2.2em !important;*/
    color: var(--text-title-h1) !important;
}

.cm-header-2,
.markdown-preview-section h2
{
    font-weight: 500 !important;
    color: var(--text-title-h2) !important;
}

.cm-header-3,
.markdown-preview-section h3
{
    font-weight: 500 !important;
    color: var(--text-title-h3) !important;
}

.cm-header-4,
.markdown-preview-section h4
{
    font-weight: 500 !important;
    color: var(--text-title-h4) !important;
}

.cm-header-5,
.markdown-preview-section h5
{
    font-weight: 500 !important;
    color: var(--text-title-h5) !important;
}

.cm-header-6,
.markdown-preview-section h6
{
    font-weight: 500 !important;
    color: var(--text-title-h6) !important;
}

/* fix for colors in header codeblocks */
.markdown-preview-section h1 code {
  color: var(--text-title-h1) !important;
}

.markdown-preview-section h2 code {
  color: var(--text-title-h2) !important;
}

.markdown-preview-section h3 code {
  color: var(--text-title-h3) !important;
}

.markdown-preview-section h4 code {
  color: var(--text-title-h4) !important;
}

.markdown-preview-section h5 code {
  color: var(--text-title-h5) !important;
}

.markdown-preview-section h6 code {
  color: var(--text-title-h6) !important;
}

.suggestion-item.is-selected
{
    background-color: var(--background-secondary);
}

.empty-state-action:hover
{
    color: var(--interactive-accent);
}

.empty-state-action:hover
{
    color: var(--interactive-accent);
}

.mod-cta
{
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

.mod-cta a
{
    color: var(--background-secondary-alt) !important;
    font-weight: 600 !important;
}

.mod-cta:hover
{
    background-color: var(--interactive-before) !important;
    font-weight: 600 !important;
}

.CodeMirror-cursor
{
    background-color: var(--vim-cursor) !important;
    opacity: 60% !important;
}

::selection
{
    background-color: var(--text-selection) !important;
}

.mermaid .note
{
    fill: var(--dark3) !important;
}

/* ccard font size fix for Folder Cards plugin, change text color and weight */
.cute-card-view h1,
.strip-card-view h1 {
    font-size: 1.2rem !important;
    font-weight: 550 !important;
    margin: 0;
    color: var(--text-card) !important;
}

/* ccard text coloring */
.cute-card-view p,
.strip-card-view p {
    color: var(--gray) !important;
}

/* fix notes having scrollbar when they could just not */
.markdown-embed-content {
  max-height: var(--max-embed-height);
}

/* remove margins/some padding from embedded notes */
.markdown-source-view .markdown-embed,
.markdown-preview-view .markdown-embed {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.markdown-embed .markdown-preview-view {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
}

/* change border color of note embed */
.markdown-source-view .markdown-embed {
  border: 2px solid var(--dark0-soft);
}

/* increase tex size */
.MJX-TEX {
	font-size: 115%;
}

/* heading links */
.cm-s-obsidian .HyperMD-header span.cm-underline {
  /*text-decoration-line: underline;*/
  /*background-image: linear-gradient(to right, var(--scorpion) 75%, transparent 75%);*/
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}

.cm-s-obsidian .HyperMD-header-1 .cm-hmd-internal-link span.cm-underline {
  /* --text-title-h1 with transparency */
  /* dotted style: */
  /* background-image: linear-gradient(to right, var(--text-title-h3) 75%, transparent 75%); */
  background-image: linear-gradient(to right, rgba(188,1,4,0.4) 75%, rgba(188,1,4,0.4) 75%);
}

.cm-s-obsidian .HyperMD-header-1 .cm-hmd-internal-link span.cm-underline:hover {
  color: rgb(203,16,19) !important; /* added 15 to each rgb value from above */
}

.cm-s-obsidian .HyperMD-header-2 .cm-hmd-internal-link span.cm-underline {
  background-image: linear-gradient(to right, rgba(205,43,17,0.4) 75%, rgba(205,43,17,0.4) 75%);
}

.cm-s-obsidian .HyperMD-header-2 .cm-hmd-internal-link span.cm-underline:hover {
  color: rgb(220,58,32) !important; /* added 15 to each rgb value from above */
}

.cm-s-obsidian .HyperMD-header-3 .cm-hmd-internal-link span.cm-underline {
  background-image: linear-gradient(to right, rgba(237,91,15,0.4) 75%, rgba(237,91,15,0.4) 75%);
}

.cm-s-obsidian .HyperMD-header-3 .cm-hmd-internal-link span.cm-underline:hover {
  color: rgb(252,106,30) !important; /* added 15 to each rgb value from above */
}

.cm-s-obsidian .HyperMD-header-4 .cm-hmd-internal-link span.cm-underline {
  background-image: linear-gradient(to right, rgba(254,117,14,0.4) 75%, rgba(254,117,14,0.4) 75%);
}

.cm-s-obsidian .HyperMD-header-4 .cm-hmd-internal-link span.cm-underline:hover {
  color: rgb(255,132,29) !important; /* added 15 to each rgb value from above */
}

.cm-s-obsidian .HyperMD-header-5 .cm-hmd-internal-link span.cm-underline {
  background-image: linear-gradient(to right, rgba(254,145,9,0.4) 75%, rgba(254,145,9,0.4) 75%);
}

.cm-s-obsidian .HyperMD-header-5 .cm-hmd-internal-link span.cm-underline:hover {
  color: rgb(255,160,24) !important; /* added 15 to each rgb value from above */
}

.cm-s-obsidian .HyperMD-header-6 .cm-hmd-internal-link span.cm-underline {
  background-image: linear-gradient(to right, rgba(114,80,75,0.4) 75%, rgba(114,80,75,0.4) 75%);
}

.cm-s-obsidian .HyperMD-header-6 .cm-hmd-internal-link span.cm-underline:hover {
  color: rgb(129,95,90) !important; /* added 15 to each rgb value from above */
}

.markdown-preview-section h1 a.internal-link {
  color: var(--text-title-h1) !important;
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, rgba(188,1,4,0.4) 75%, rgba(188,1,4,0.4) 75%);
}

.markdown-preview-section h2 a.internal-link {
  color: var(--text-title-h2) !important;
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, rgba(205,43,17,0.4) 75%, rgba(205,43,17,0.4) 75%);
}

.markdown-preview-section h3 a.internal-link {
  color: var(--text-title-h3) !important;
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, rgba(237,91,15,0.4) 75%, rgba(237,91,15,0.4) 75%);
}

.markdown-preview-section h4 a.internal-link {
  color: var(--text-title-h4) !important;
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, rgba(254,117,14,0.4) 75%, rgba(254,117,14,0.4) 75%);
}

.markdown-preview-section h5 a.internal-link {
  color: var(--text-title-h5) !important;
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
    background-image: linear-gradient(to right, rgba(254,145,9,0.4) 75%, rgba(254,145,9,0.4) 75%);
}

.markdown-preview-section h6 a.internal-link {
  color: var(--text-title-h6) !important;
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
  background-image: linear-gradient(to right, rgba(114,80,75,0.4) 75%, rgba(114,80,75,0.4) 75%);
}

.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6 {
    margin: 0 0;
    padding: 0px 2px 4px 4px;
}


/* admonition settings */

/* reduce top and bottom margins on Admonitions */
.admonition {
  margin: 0.1em 0 !important;
}

/* make overflow visible */
/* I determined that this makes the weird behavior with admonitions not closing fully.
IIRC I initially implemented it to fix some weird behavior with bullet points,
but that doesn't seem to be necessary now, so I'm disabling it but keeping it here just in case. */
/*
.admonition-content {
    overflow-x: visible !important;
}*/
/* This fix also works for the above issue, and became necessary again in Obsidian 1.0.0.*/
.callout-content {
  padding-left: 1px;
}

/* format links properly */
.admonition-content a.internal-link,
.admonition-content a.external-link,
.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline {
  text-decoration: none;
}

.admonition-title-markdown a.internal-link,
.admonition-title-markdown a.external-link {
  text-decoration: none;
}


/* format callout titles with a little more spacing */
.callout-title {
  gap: var(--size-2-3);
}

/* fixes for admonition codeblocks */
.markdown-source-view.mod-cm6 .cm-embed-block pre {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* fix mathjax formatting */
.is-live-preview .admonition-content .math-block>mjx-container {
  padding: 15px 0px 15px 0px !important;
}

/* Fixes embeds being like 2/3 length */
.markdown-embed div.admonition-parent {
  display: block !important;
}

/* new live preview indents fix */
/*
div.HyperMD-list-line span.cm-indent::before {
  transform: translateX(1.5px);
}

div.HyperMD-task-line span.cm-indent::before,
div.HyperMD-list-line-2 span.cm-indent::before,
div.HyperMD-list-line-3 span.cm-indent::before,
div.HyperMD-list-line-4 span.cm-indent::before,
div.HyperMD-list-line-5 span.cm-indent::before,
div.HyperMD-list-line-6 span.cm-indent::before {
  transform: translateX(12.5px);
}*/

/* remove live preview indents since they seem broken */
div.HyperMD-list-line span.cm-indent::before,
div.HyperMD-task-line span.cm-indent::before,
.markdown-source-view.mod-cm6 .cm-indent::before,
.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before {
  content: "";
  border: none;
}

/*
.cm-s-obsidian .HyperMD-task-line .collapse-icon :not(.cm-s-obsidian .HyperMD-task-line .is-collapsed .collapse-icon svg) {
  transform: translateX(5px);
}*/


/* fix for annoying bright links when checked */
li.task-list-item[data-task="x"] a.internal-link,
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"] span.cm-underline,
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] span.cm-underline {
  color: var(--code-orange);
  text-decoration-color: var(--text-faint);
}

/* various list fixes for preview view/export */


.markdown-preview-view.is-readable-line-width .markdown-preview-sizer ul,
.markdown-rendered ul, .markdown-rendered ol {
  /*text-indent: 1em !important;*/
  padding-inline-start: 1.5em;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer ul ul {
  padding-left: 15px;
}


.markdown-preview-view.is-readable-line-width .markdown-preview-sizer p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer ul {
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer ul ul {
  margin-bottom: 0;
}
